.header {
  font-family: 'Inter', Arial, sans-serif;
  display: flex;
  justify-content: space-between;
  max-width: 1184px;
  max-height: 52px;
  box-sizing: border-box;
  margin: 0 48px 48px 56px;
}

@media screen and (max-width: 1124px) {
  .header {
    margin-bottom: 48px;
  }
}

@media screen and (max-width: 984px) {
  .header {
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media screen and (max-width: 568px) {
  .header {
    margin-left: 16px;
    margin-right: 16px;
  }
}
