.place__paragraphs {
  max-width: 484px;
  grid-area: text;
}

@media screen and (max-width: 1124px) {
  .place__paragraphs {
    max-width: 456px;

  }
}

@media screen and (max-width: 984px) {
  .place__paragraphs {
    max-width: 352px;
  }
}

@media screen and (max-width: 568px) {
  .place__paragraphs {
    max-width: 288px;
  }
}
