.place__website_url-heading {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20.4px;
  letter-spacing: 2px;
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 12px;
  padding: 0;
}

@media screen and (max-width: 984px) {
  .place__website_url-heading {
    line-height: 12px;
  }
}

