.place__link {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-decoration-line: underline;
  align-self: flex-start;
  color: #ffffff;
  opacity: 1;
  transition: 0.5s;
  margin: 0;
  padding: 0;
}

.place__website_link:hover {
  opacity: 0.8;
}

