.place__website {
  grid-area: url;
  display: flex;
  flex-direction: column;
  align-self: end;
}

@media screen and (max-width: 745px) {
  .place__website {
    margin-left: 16px;
    margin-right: 16px;
    align-self: start;
  }
}
